################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/TIROERP.Core
/TIROERP.Infrastructure
/TIROERP.Web
/TIROERP.Web.Tests
*.suo
